@import "tailwindcss";


@font-face {
  font-family: "Sora";
    src: url("/fonts/Sora-Variable.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "NeueHaas";
  src: url("/fonts/NeueHaasDisplayMediu.ttf") format("truetype");
  font-display: swap;
}

.sora {
  font-family: "Sora", serif;
}

.neue{
  font-family: "NeueHaas", serif;
}





html {
    scroll-behavior: smooth;
}
