@import "tailwindcss";

/* Neue.Alte.Grotesk Font Family */
@font-face {
  font-family: "Neue.Alte.Grotesk";
  src: url("/fonts/Neue.Alte.Grotesk/NeueAlteGrotesk-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Neue.Alte.Grotesk";
  src: url("/fonts/Neue.Alte.Grotesk/NeueAlteGrotesk-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Neue.Alte.Grotesk";
  src: url("/fonts/Neue.Alte.Grotesk/NeueAlteGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Neue.Alte.Grotesk";
  src: url("/fonts/Neue.Alte.Grotesk/NeueAlteGrotesk-Book.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Neue.Alte.Grotesk";
  src: url("/fonts/Neue.Alte.Grotesk/NeueAlteGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Neue.Alte.Grotesk";
  src: url("/fonts/Neue.Alte.Grotesk/NeueAlteGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Neue.Alte.Grotesk";
  src: url("/fonts/Neue.Alte.Grotesk/NeueAlteGrotesk-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Neue.Alte.Grotesk";
  src: url("/fonts/Neue.Alte.Grotesk/NeueAlteGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Neue.Alte.Grotesk";
  src: url("/fonts/Neue.Alte.Grotesk/NeueAlteGrotesk-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Neue.Alte.Grotesk";
  src: url("/fonts/Neue.Alte.Grotesk/NeueAlteGrotesk-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Hemming";
    src: url("/fonts/Hemming.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Sora";
  src: url("/fonts/Sora-Variable.ttf") format("truetype");
  font-display: swap;
}

.sora {
  font-family: "Sora", serif;
}

.hemming{
  font-family: "Hemming", serif;
}

.neue-alte {
  font-family: "Neue.Alte.Grotesk", sans-serif;
}





html {
    scroll-behavior: smooth;
}
